<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="footer-container">
      <div class="without-copyright">
        <div class="footer-logo-form">
          <div class="footer-logo">
            <div class="footer-logo-svg">
              <a href="./index.html"><img src="/img/logo.svg" alt="logo" /></a>
            </div>
            <p class="footer-description">
              Subscribe to our newsletter for the latest updates on our yoga
              clases and events.
            </p>
            <form class="footer-form">
              <input
                class="footer-input"
                type="email"
                id="user-email"
                placeholder="Your email here"
                required
              />
              <button class="footer-btn" type="submit">Join</button>
            </form>
            <p class="footer-description-small">
              By subscribing, you consent to our Privacy Policy and agree to
              receive updates.
            </p>
          </div>
        </div>
        <div class="footer-right">
          <div class="footer-links">
            <p class="footer-links-p">Quick Links</p>
            <ul class="footer-links-menu">
              <li class="footer-links-menu-item">
                <a href="#classes" class="footer-links-menu-item-link"
                  >Yoga Classes</a
                >
              </li>
              <li class="footer-links-menu-item">
                <a href="#team" class="footer-links-menu-item-link">Team</a>
              </li>
              <li class="footer-links-menu-item">
                <a href="#pricing" class="footer-links-menu-item-link"
                  >Pricing</a
                >
              </li>
              <li class="footer-links-menu-item">
                <a href="#contacts" class="footer-links-menu-item-link"
                  >Contacts</a
                >
              </li>
            </ul>
          </div>
          <div class="footer-contact" id="contacts">
            <p class="footer-contact-p">Connect With Us</p>
            <address>
              <ul class="footer-contact-menu">
                <li class="footer-contact-menu-item">
                  <a
                    href="https://www.facebook.com/"
                    class="footer-contact-menu-item-link"
                    target="_blank"
                  >
                    <svg class="svg" width="24" height="24">
                      <use href="/img/sprite.svg#icon-facebook"></use>
                    </svg>
                    Facebook
                  </a>
                </li>
                <li class="footer-contact-menu-item">
                  <a
                    href="https://www.instagram.com/"
                    class="footer-contact-menu-item-link"
                    target="_blank"
                  >
                    <svg class="svg" width="24" height="24">
                      <use href="/img/sprite.svg#icon-instagram"></use>
                    </svg>
                    Instagram
                  </a>
                </li>
                <li class="footer-contact-menu-item">
                  <a
                    href="https://www.linkedin.com/"
                    class="footer-contact-menu-item-link"
                    target="_blank"
                  >
                    <svg class="svg" width="24" height="24">
                      <use href="/img/sprite.svg#icon-linkedin"></use>
                    </svg>
                    LinkedIn
                  </a>
                </li>
                <li class="footer-contact-menu-item">
                  <a
                    href="https://www.youtube.com/"
                    class="footer-contact-menu-item-link"
                    target="_blank"
                  >
                    <svg class="svg" width="24" height="24">
                      <use href="/img/sprite.svg#icon-youtube"></use>
                    </svg>
                    YouTube
                  </a>
                </li>
              </ul>
            </address>
          </div>
        </div>
      </div>
      <p class="footer-copyright">© 2025 Yoga Studio. All rights reserved.</p>
    </div>
  </div>
</footer>
