<!-- Gallery -->
<section class="gallery-section">
  <div class="container-gallery container">
    <h2 class="title-gallery" id="gallery">Breathe in the Space</h2>
    <p class="title-text-down-gallery">
      Step inside YogaBloom and feel the calm. Explore our serene studio and the
      peaceful moments our community shares during each session.
    </p>
    <div>
      <ul class="gallery">
        <li class="gallery-item image-gallery-animation">
          <div class="gallery-item-picture">
            <picture class="programs-picture">
              <source
                media="(min-width: 1336px)"
                srcset="
                  img/gallery/people-in-the-room-doing-yoga-desk.jpg    1x,
                  img/gallery/people-in-the-room-doing-yoga-desk@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  img/gallery/people-in-the-room-doing-yoga-tab.jpg    1x,
                  img/gallery/people-in-the-room-doing-yoga-tab@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  img/gallery/people-in-the-room-doing-yoga-mobile.jpg    1x,
                  img/gallery/people-in-the-room-doing-yoga-mobile@2x.jpg 2x
                "
              />
              <img
                srcset="
                  img/gallery/people-in-the-room-doing-yoga-mobile.jpg    1x,
                  img/gallery/people-in-the-room-doing-yoga-mobile@2x.jpg 2x
                "
                src="img/gallery/people-in-the-room-doing-yoga-mobile.jpg"
                alt="people"
              />
            </picture>
          </div>
        </li>
        <li class="gallery-item image-gallery-animation">
          <div class="gallery-item-picture">
            <picture class="programs-picture">
              <source
                media="(min-width: 1336px)"
                srcset="
                  img/gallery/girl-is-doing-yoga-in-the-room-desk.jpg    1x,
                  img/gallery/girl-is-doing-yoga-in-the-room-desk@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  img/gallery/girl-is-doing-yoga-in-the-room-tab.jpg    1x,
                  img/gallery/girl-is-doing-yoga-in-the-room-tab@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  img/gallery/girl-is-doing-yoga-in-the-room-mobile.jpg    1x,
                  img/gallery/girl-is-doing-yoga-in-the-room-mobile@2x.jpg 2x
                "
              />
              <img
                srcset="
                  img/gallery/girl-is-doing-yoga-in-the-room-mobile.jpg    1x,
                  img/gallery/girl-is-doing-yoga-in-the-room-mobile@2x.jpg 2x
                "
                src="img/gallery/girl-is-doing-yoga-in-the-room-mobile.jpg"
                alt="people"
              />
            </picture>
          </div>
        </li>
        <li class="gallery-item image-gallery-animation">
          <div class="gallery-item-picture">
            <picture class="programs-picture">
              <source
                media="(min-width: 1336px)"
                srcset="
                  img/gallery/yoga-class-desk.jpg    1x,
                  img/gallery/yoga-class-desk@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  img/gallery/yoga-class-tab.jpg    1x,
                  img/gallery/yoga-class-tab@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  img/gallery/yoga-class-mobile.jpg    1x,
                  img/gallery/yoga-class-mobile@2x.jpg 2x
                "
              />
              <img
                srcset="
                  img/gallery/yoga-class-mobile.jpg    1x,
                  img/gallery/yoga-class-mobile@2x.jpg 2x
                "
                src="img/gallery/yoga-class-mobile.jpg"
                alt="people"
              />
            </picture>
          </div>
        </li>
        <li class="gallery-item image-gallery-animation">
          <div class="gallery-item-picture">
            <picture class="programs-picture">
              <source
                media="(min-width: 1336px)"
                srcset="
                  img/gallery/yoga-class-2-desk.jpg    1x,
                  img/gallery/yoga-class-2-desk@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  img/gallery/yoga-class-2-tab.jpg    1x,
                  img/gallery/yoga-class-2-tab@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  img/gallery/yoga-class-2-mobile.jpg    1x,
                  img/gallery/yoga-class-2-mobile@2x.jpg 2x
                "
              />
              <img
                srcset="
                  img/gallery/yoga-class-2-mobile.jpg    1x,
                  img/gallery/yoga-class-2-mobile@2x.jpg 2x
                "
                src="img/gallery/yoga-class-2-mobile.jpg"
                alt="people"
              />
            </picture>
          </div>
        </li>
        <li class="gallery-item image-gallery-animation">
          <div class="gallery-item-picture">
            <picture class="programs-picture">
              <source
                media="(min-width: 1336px)"
                srcset="
                  img/gallery/people-in-the-room-doing-yoga-2-desk.jpg    1x,
                  img/gallery/people-in-the-room-doing-yoga-2-desk@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  img/gallery/people-in-the-room-doing-yoga-2-tab.jpg    1x,
                  img/gallery/people-in-the-room-doing-yoga-2-tab@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  img/gallery/people-in-the-room-doing-yoga-mobile-2.jpg    1x,
                  img/gallery/people-in-the-room-doing-yoga-mobile-2@2x.jpg 2x
                "
              />
              <img
                srcset="
                  img/gallery/people-in-the-room-doing-yoga-mobile-2.jpg    1x,
                  img/gallery/people-in-the-room-doing-yoga-mobile-2@2x.jpg 2x
                "
                src="img/gallery/people-in-the-room-doing-yoga-mobile-2.jpg"
                alt="people"
              />
            </picture>
          </div>
        </li>
        <li class="gallery-item image-gallery-animation">
          <div class="gallery-item-picture">
            <picture class="programs-picture">
              <source
                media="(min-width: 1336px)"
                srcset="
                  img/gallery/people-in-the-room-doing-yoga-3-desk.jpg    1x,
                  img/gallery/people-in-the-room-doing-yoga-3-desk@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  img/gallery/people-in-the-room-doing-yoga-3-tab.jpg    1x,
                  img/gallery/people-in-the-room-doing-yoga-3-tab@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  img/gallery/people-in-the-room-doing-yoga-mobile-3.jpg    1x,
                  img/gallery/people-in-the-room-doing-yoga-mobile-3@2x.jpg 2x
                "
              />
              <img
                srcset="
                  img/gallery/people-in-the-room-doing-yoga-mobile-3.jpg    1x,
                  img/gallery/people-in-the-room-doing-yoga-mobile-3@2x.jpg 2x
                "
                src="img/gallery/people-in-the-room-doing-yoga-mobile-3.jpg"
                alt="people"
              />
            </picture>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
