<!-- Header -->
<header class="page-header">
  <div class="container container-header">
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-list-item">
          <a href="#classes" class="header-nav-link header-links-animation"
            >Yoga Classes</a
          >
        </li>
        <li class="header-nav-list-item">
          <a href="#team" class="header-nav-link header-links-animation"
            >Team</a
          >
        </li>
        <li class="header-nav-list-item">
          <a href="#testimonials" class="header-nav-link header-links-animation"
            >Testimonials</a
          >
        </li>
        <li class="header-nav-list-item">
          <a href="#pricing" class="header-nav-link header-links-animation"
            >Pricing</a
          >
        </li>
        <li class="header-nav-list-item">
          <a href="#contacts" class="header-nav-link header-links-animation"
            >Contacts</a
          >
        </li>
      </ul>
    </nav>

    <button class="burger-btn" type="button" data-mobile-open>
      <svg class="burger-icon" width="24" height="24">
        <use href="/img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
    <div class="header-logo">
      <a href="#pagetop">
        <img
          class="header-logo-svg"
          src="/img/logo.svg"
          alt="Yoga"
          width="84"
          height="36"
        />
      </a>
    </div>

    <a href="#pricing" class="page-header-link blue-button-animation">Join</a>
  </div>
</header>
