<!-- HERO -->
<section class="hero" id="pagetop">
  <div class="hero-thumb">
    <picture class="hero-picture">
      <source
        media="(min-width: 1336px)"
        srcset="
          /img/hero/girl-doing-yoga-on-the-beach-desk.jpg    1x,
          /img/hero/girl-doing-yoga-on-the-beach-desk@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /img/hero/girl-doing-yoga-on-the-beach-tab.jpg    1x,
          /img/hero/girl-doing-yoga-on-the-beach-tab@2x.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          /img/hero/girl-doing-yoga-on-the-beach-mobile.jpg    1x,
          /img/hero/girl-doing-yoga-on-the-beach-mobile@2x.jpg 2x
        "
      />
      <img
        srcset="
          /img/hero/girl-doing-yoga-on-the-beach-mobile.jpg    1x,
          /img/hero/girl-doing-yoga-on-the-beach-mobile@2x.jpg 2x
        "
        src="/img/hero/girl-doing-yoga-on-the-beach-mobile.jpg"
        alt="Woman practicing yoga on the beach"
        class="hero-image"
        width="375"
        height="301"
        fetchpriority="high"
      />
    </picture>
  </div>

  <div class="container hero-container">
    <div class="hero-title-container">
      <h1 class="hero-title">
        Transform Your Life with Our Yoga
        <span class="hero-title-word">Courses</span>
      </h1>
    </div>

    <div class="hero-description-container">
      <p class="hero-description">
        Discover the harmony of mind and body through our expertly designed yoga
        programs. Join a community dedicated to wellness and personal growth.
      </p>

      <ul class="hero-buttons">
        <li class="hero-btn-join blue-button-animation">
          <a href="#pricing">Join <span class="hero-btn-extra">Now</span></a>
        </li>
        <li class="hero-btn-learn silver-button-animation">
          <a href="#gallery">Learn more</a>
        </li>
      </ul>
    </div>
  </div>
</section>
