<!-- Modal -->
<div class="backdrop" data-modal-cheap>
  <div class="modal container">
    <button class="modal-btn-close" type="button" data-modal-close-cheap>
      <svg class="modal-svg" width="16" height="16">
        <use href="/img/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <p class="modal-title">Join Now!</p>
    <p class="modal-text">One Session</p>
    <p class="modal-text-price">$10</p>
    <form class="modal-form">
      <div class="modal-form-box">
        <label class="modal-label" for="user-name-cheap">Your Name</label>
        <input
          class="modal-input"
          type="text"
          name="user-name"
          id="user-name-cheap"
          placeholder="Liam"
          autofocus
          required
        />
      </div>
      <div class="modal-form-box-wrap">
        <div class="modal-form-box">
          <label class="modal-label" for="user-email-cheap">Email</label>
          <input
            class="modal-input"
            type="text"
            name="user-email"
            id="user-email-cheap"
            placeholder="hello@yogabloom.com"
            required
          />
        </div>
        <div class="modal-form-box">
          <label class="modal-label" for="user-phone-cheap">Phone number</label>
          <input
            class="modal-input"
            type="tel"
            name="user-phone"
            id="user-phone-cheap"
            placeholder="+380 (95) 123 12 12"
            required
          />
        </div>
      </div>
      <button class="modal-form-btn" type="submit">Go to checkout</button>
    </form>
  </div>
</div>

<div class="backdrop" data-modal-average>
  <div class="modal container">
    <button class="modal-btn-close" type="button" data-modal-close-average>
      <svg class="modal-svg" width="16" height="16">
        <use href="/img/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <p class="modal-title">Join Now!</p>
    <p class="modal-text">8 Sessions Package</p>
    <p class="modal-text-price">$65</p>
    <form class="modal-form">
      <div class="modal-form-box">
        <label class="modal-label" for="user-name-average">Your Name</label>
        <input
          class="modal-input"
          type="text"
          name="user-name"
          id="user-name-average"
          placeholder="Liam"
          required
        />
      </div>
      <div class="modal-form-box-wrap">
        <div class="modal-form-box">
          <label class="modal-label" for="user-email-average">Email</label>
          <input
            class="modal-input"
            type="text"
            name="user-email"
            id="user-email-average"
            placeholder="hello@yogabloom.com"
            required
          />
        </div>
        <div class="modal-form-box">
          <label class="modal-label" for="user-phone-average"
            >Phone number</label
          >
          <input
            class="modal-input"
            type="tel"
            name="user-phone"
            id="user-phone-average"
            placeholder="+380 (95) 123 12 12"
            required
          />
        </div>
      </div>
      <button class="modal-form-btn" type="submit">Go to checkout</button>
    </form>
  </div>
</div>

<div class="backdrop" data-modal-premium data-modal-premium-one>
  <div class="modal container">
    <button
      class="modal-btn-close"
      type="button"
      data-modal-close-premium
      data-modal-close-premium-one
    >
      <svg class="modal-svg" width="16" height="16">
        <use href="/img/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <p class="modal-title">Join Now!</p>
    <p class="modal-text">12 Sessions Package</p>
    <p class="modal-text-price">$80</p>
    <form class="modal-form">
      <div class="modal-form-box">
        <label class="modal-label" for="user-name-premium">Your Name</label>
        <input
          class="modal-input"
          type="text"
          name="user-name"
          id="user-name-premium"
          placeholder="Liam"
          required
        />
      </div>
      <div class="modal-form-box-wrap">
        <div class="modal-form-box">
          <label class="modal-label" for="user-email-premium">Email</label>
          <input
            class="modal-input"
            type="text"
            name="user-email"
            id="user-email-premium"
            placeholder="hello@yogabloom.com"
            required
          />
        </div>
        <div class="modal-form-box">
          <label class="modal-label" for="user-phone-premium"
            >Phone number</label
          >
          <input
            class="modal-input"
            type="tel"
            name="user-phone"
            id="user-phone-premium"
            placeholder="+380 (95) 123 12 12"
            required
          />
        </div>
      </div>
      <button class="modal-form-btn" type="submit">Go to checkout</button>
    </form>
  </div>
</div>
