<!-- Navbar -->
<div class="mobile-menu" data-mobile>
  <div class="container div-menu">
    <div class="top-div">
      <button class="btn-x" data-mobile-close>
        <svg class="icon-x" width="24" height="24">
          <use href="/img/sprite.svg#icon-x"></use>
        </svg>
      </button>
      <a href="/index.html">
        <img src="/img/logo.svg" alt="Yoga" width="83" height="23" />
      </a>
      <a href="#pricing" class="page-header-link blue-button-animation">Join</a>
    </div>
    <div class="bottom-div">
      <nav class="mobile-menu-nav">
        <ul class="menu-link">
          <li class="">
            <a href="#classes" class="menu-list" data-mobile-close
              >Yoga Classes</a
            >
          </li>
          <li class="">
            <a href="#team" class="menu-list" data-mobile-close>Team</a>
          </li>
          <li class="">
            <a href="#testimonials" class="menu-list" data-mobile-close
              >Testimonials</a
            >
          </li>
          <li class="">
            <a href="#pricing" class="menu-list" data-mobile-close>Pricing</a>
          </li>
          <li class="">
            <a href="#contacts" class="menu-list" data-mobile-close>Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
    <button class="btn-bottom blue-button-animation" type="button">Join</button>
  </div>
</div>
