<!-- Pricing plans -->
<section class="pricing section-header-nav-id" id="pricing">
  <div class="container pricing-container">
    <h2 class="pricing-main-title">
      <span class="pricing-title">Affordable</span>
      Pricing Plans
    </h2>
    <p class="pricing-text">Choose the perfect plan for your yoga journey.</p>
    <ul class="pricing-list">
      <li class="pricing-item">
        <h3 class="pricing-item-title">One Session</h3>
        <p class="pricing-item-text">$10</p>
        <ul class="pricing-wrap-list">
          <li class="pricing-wrap-item">
            <div class="pricing-wrap-item-box">
              <div class="pricing-wrap-item-box-svg">
                <svg width="24" height="24">
                  <use href="/img/sprite.svg#icon-check"></use>
                </svg>
              </div>
              <p class="pricing-wrap-item-text">1 group session</p>
            </div>
          </li>
          <li>
            <div class="pricing-wrap-item-box">
              <div class="pricing-wrap-item-box-svg">
                <svg width="24" height="24">
                  <use href="/img/sprite.svg#icon-check"></use>
                </svg>
              </div>
              <p class="pricing-wrap-item-text">
                10% discount for next 2 Sessions
              </p>
            </div>
          </li>
          <li>
            <div class="pricing-wrap-item-box">
              <div class="pricing-wrap-item-box-svg">
                <svg width="24" height="24">
                  <use href="/img/sprite.svg#icon-check"></use>
                </svg>
              </div>
              <p class="pricing-wrap-item-text">Community support group</p>
            </div>
          </li>
        </ul>
        <button
          class="pricing-btn blue-button-animation"
          type="button"
          data-modal-open-cheap
        >
          Join
        </button>
      </li>
      <li class="pricing-item">
        <h3 class="pricing-item-title">8 Sessions Package</h3>
        <p class="pricing-item-text">$65</p>
        <ul class="pricing-wrap-list">
          <li class="pricing-wrap-item">
            <div class="pricing-wrap-item-box">
              <div class="pricing-wrap-item-box-svg">
                <svg width="24" height="24">
                  <use href="/img/sprite.svg#icon-check"></use>
                </svg>
              </div>
              <p class="pricing-wrap-item-text">6 Group Sessions</p>
            </div>
          </li>
          <li>
            <div class="pricing-wrap-item-box">
              <div class="pricing-wrap-item-box-svg">
                <svg width="24" height="24">
                  <use href="/img/sprite.svg#icon-check"></use>
                </svg>
              </div>
              <p class="pricing-wrap-item-text">2 Individual Sessions</p>
            </div>
          </li>
          <li>
            <div class="pricing-wrap-item-box">
              <div class="pricing-wrap-item-box-svg">
                <svg width="24" height="24">
                  <use href="/img/sprite.svg#icon-check"></use>
                </svg>
              </div>
              <p class="pricing-wrap-item-text">Priority customer support</p>
            </div>
          </li>
        </ul>
        <button
          class="pricing-btn blue-button-animation"
          type="button"
          data-modal-open-average
        >
          Join
        </button>
      </li>
      <li class="pricing-item">
        <div class="pricing-item-tabl">
          <div class="pricing-item-tabl-box">
            <h3 class="pricing-item-title">12 Sessions Package</h3>
            <p class="pricing-item-text">$80</p>
            <button
              class="pricing-tablet-btn blue-button-animation"
              type="button"
              data-modal-open-premium
            >
              Join
            </button>
          </div>
          <div class="pricing-item-tabl-box-list">
            <ul class="pricing-wrap-list">
              <li class="pricing-wrap-item">
                <div class="pricing-wrap-item-box">
                  <div class="pricing-wrap-item-box-svg">
                    <svg width="24" height="24">
                      <use href="/img/sprite.svg#icon-check"></use>
                    </svg>
                  </div>
                  <p class="pricing-wrap-item-text">8 Group Sessions</p>
                </div>
              </li>
              <li>
                <div class="pricing-wrap-item-box">
                  <div class="pricing-wrap-item-box-svg">
                    <svg width="24" height="24">
                      <use href="/img/sprite.svg#icon-check"></use>
                    </svg>
                  </div>
                  <p class="pricing-wrap-item-text">4 Individual Sessions</p>
                </div>
              </li>
              <li>
                <div class="pricing-wrap-item-box">
                  <div class="pricing-wrap-item-box-svg">
                    <svg width="24" height="24">
                      <use href="/img/sprite.svg#icon-check"></use>
                    </svg>
                  </div>
                  <p class="pricing-wrap-item-text">
                    Access to advanced classes
                  </p>
                </div>
              </li>
              <li>
                <div class="pricing-wrap-item-box">
                  <div class="pricing-wrap-item-box-svg">
                    <svg width="24" height="24">
                      <use href="/img/sprite.svg#icon-check"></use>
                    </svg>
                  </div>
                  <p class="pricing-wrap-item-text">Monthly yoga challenges</p>
                </div>
              </li>
              <li>
                <div class="pricing-wrap-item-box">
                  <div class="pricing-wrap-item-box-svg">
                    <svg width="24" height="24">
                      <use href="/img/sprite.svg#icon-check"></use>
                    </svg>
                  </div>
                  <p class="pricing-wrap-item-text">
                    Exclusive member discounts
                  </p>
                </div>
              </li>
              <li>
                <div class="pricing-wrap-item-box">
                  <div class="pricing-wrap-item-box-svg">
                    <svg width="24" height="24">
                      <use href="/img/sprite.svg#icon-check"></use>
                    </svg>
                  </div>
                  <p class="pricing-wrap-item-text">Community support group</p>
                </div>
              </li>
            </ul>
          </div>
          <button
            class="pricing-btn blue-button-animation"
            type="button"
            data-modal-open-premium-one
          >
            Join
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
