<!-- Team -->
<section class="team_section">
  <div class="team_section_container container">
    <h2 class="team_section_title" id="team">
      <span class="team_section_mini_title">Meet</span>Our Team
    </h2>
    <p class="team_section_p">
      Dedicated professionals passionate about yoga and wellness.
    </p>
    <ul class="team_section_list">
      <li class="team_section_list_item">
        <picture class="team-photo-img"
          ><source
            srcset="
              /img/team/guy-with-curls-desk.jpg    1x,
              /img/team/guy-with-curls-desk@2x.jpg 2x
            "
            media="(min-width: 1336px)" />
          <source
            srcset="
              /img/team/guy-with-curls-tab.jpg    1x,
              /img/team/guy-with-curls-tab@2x.jpg 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              /img/team/guy-with-curls-mobile.jpg    1x,
              /img/team/guy-with-curls-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)" />
          <img
            src="/img/team/guy-with-curls-mobile.jpg"
            alt="team member photo"
        /></picture>
        <div class="team-photo-info-cont">
          <h3 class="team-name-title">Liam Johnson</h3>
          <p class="team-position-title">Yoga Instructor</p>
          <p class="team-info-title">
            Liam specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
          <ul class="team-socials-list">
            <li class="team-socials-item hidden-social">
              <a
                class="team-social-icon"
                href="https://www.facebook.com/goITclub/?locale=uk_UA"
                target="_blank"
                ><svg
                  aria-label="Icon Facebook"
                  class="team-social-svg"
                  width="24"
                  height="24"
                >
                  <use href="/img/sprite.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li class="team-socials-item">
              <a
                class="team-social-icon"
                href="https://www.instagram.com/goit.ua/"
                target="_blank"
                ><svg
                  aria-label="Icon Instagram"
                  class="team-social-svg"
                  width="24"
                  height="24"
                >
                  <use href="/img/sprite.svg#icon-instagram"></use></svg
              ></a>
            </li>
            <li class="team-socials-item">
              <a
                class="team-social-icon"
                href="https://www.linkedin.com/school/goit-start-your-career-in-it/posts/?feedView=all"
                target="_blank"
                ><svg
                  aria-label="Icon Linkedin"
                  class="team-social-svg"
                  width="24"
                  height="24"
                >
                  <use href="/img/sprite.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team_section_list_item">
        <picture class="team-photo-img"
          ><source
            srcset="
              /img/team/woman-portrait-in-the-sportswear-desk.jpg    1x,
              /img/team/woman-portrait-in-the-sportswear-desk@2x.jpg 2x
            "
            media="(min-width: 1336px)" />
          <source
            srcset="
              /img/team/woman-portrait-in-the-sportswear-tab.jpg    1x,
              /img/team/woman-portrait-in-the-sportswear-tab@2x.jpg 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              /img/team/woman-portrait-in-the-sportswear-mobile.jpg    1x,
              /img/team/woman-portrait-in-the-sportswear-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)" />
          <img
            src="/img/team/woman-portrait-in-the-sportswear-mobile.jpg"
            alt="team member photo"
        /></picture>
        <div class="team-photo-info-cont">
          <h3 class="team-name-title">Emma Stone</h3>
          <p class="team-position-title">Meditation Coach</p>
          <p class="team-info-title">
            Emma has over 10 years of experience in Hatha and Vinyasa yoga.
          </p>
          <ul class="team-socials-list">
            <li class="team-socials-item hidden-social">
              <a
                class="team-social-icon"
                href="https://www.facebook.com/goITclub/?locale=uk_UA"
                target="_blank"
                ><svg
                  aria-label="Icon Facebook"
                  class="team-social-svg"
                  width="24"
                  height="24"
                >
                  <use href="/img/sprite.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li class="team-socials-item hidden-social">
              <a
                class="team-social-icon"
                href="https://www.instagram.com/goit.ua/"
                target="_blank"
                ><svg
                  aria-label="Icon Instagram"
                  class="team-social-svg"
                  width="24"
                  height="24"
                >
                  <use href="/img/sprite.svg#icon-instagram"></use></svg
              ></a>
            </li>
            <li class="team-socials-item">
              <a
                class="team-social-icon"
                href="https://www.linkedin.com/school/goit-start-your-career-in-it/posts/?feedView=all"
                target="_blank"
                ><svg
                  aria-label="Icon Linkedin"
                  class="team-social-svg"
                  width="24"
                  height="24"
                >
                  <use href="/img/sprite.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team_section_list_item">
        <picture class="team-photo-img"
          ><source
            srcset="
              /img/team/girl-with-long-blond-hair-desk.jpg    1x,
              /img/team/girl-with-long-blond-hair-desk@2x.jpg 2x
            "
            media="(min-width: 1336px)" />
          <source
            srcset="
              /img/team/girl-with-long-blond-hair-tab.jpg    1x,
              /img/team/girl-with-long-blond-hair-tab@2x.jpg 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              /img/team/girl-with-long-blond-hair-mobole.jpg    1x,
              /img/team/girl-with-long-blond-hair-mobole@2x.jpg 2x
            "
            media="(max-width: 767px)" />
          <img
            src="/img/team/girl-with-long-blond-hair-mobole.jpg"
            alt="team member photo"
        /></picture>
        <div class="team-photo-info-cont">
          <h3 class="team-name-title">Sophia Lee</h3>
          <p class="team-position-title">Pilates Trainer</p>
          <p class="team-info-title">
            Sophia combines Pilates with yoga for a holistic fitness approach.
          </p>
          <ul class="team-socials-list">
            <li class="team-socials-item hidden-social">
              <a
                class="team-social-icon"
                href="https://www.facebook.com/goITclub/?locale=uk_UA"
                target="_blank"
                ><svg
                  aria-label="Icon Facebook"
                  class="team-social-svg"
                  width="24"
                  height="24"
                >
                  <use href="/img/sprite.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li class="team-socials-item">
              <a
                class="team-social-icon"
                href="https://www.instagram.com/goit.ua/"
                target="_blank"
                ><svg
                  aria-label="Icon Instagram"
                  class="team-social-svg"
                  width="24"
                  height="24"
                >
                  <use href="/img/sprite.svg#icon-instagram"></use></svg
              ></a>
            </li>
            <li class="team-socials-item hidden-social">
              <a
                class="team-social-icon"
                href="https://www.linkedin.com/school/goit-start-your-career-in-it/posts/?feedView=all"
                target="_blank"
                ><svg
                  aria-label="Icon Linkedin"
                  class="team-social-svg"
                  width="24"
                  height="24"
                >
                  <use href="/img/sprite.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team_section_list_item">
        <picture class="team-photo-img"
          ><source
            srcset="
              /img/team/girl-with-long-blond-hair-desk-2.jpg    1x,
              /img/team/girl-with-long-blond-hair-desk-2@2x.jpg 2x
            "
            media="(min-width: 1336px)" />
          <source
            srcset="
              /img/team/girl-with-long-blond-hair-tab-2.jpg    1x,
              /img/team/girl-with-long-blond-hair-tab-2@2x.jpg 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              /img/team/girl-with-long-blond-hair-mobile-2.jpg    1x,
              /img/team/girl-with-long-blond-hair-mobile-2@2x.jpg 2x
            "
            media="(max-width: 767px)" />
          <img
            src="/img/team/girl-with-long-blond-hair-mobile-2.jpg"
            alt="team member photo"
        /></picture>
        <div class="team-photo-info-cont">
          <h3 class="team-name-title">Noah Brown</h3>
          <p class="team-position-title">Yoga Therapist</p>
          <p class="team-info-title">
            Noah focuses on therapeutic yoga to aid recovery and enhance
            well-being.
          </p>
          <ul class="team-socials-list">
            <li class="team-socials-item hidden-social">
              <a
                class="team-social-icon"
                href="https://www.facebook.com/goITclub/?locale=uk_UA"
                target="_blank"
                ><svg
                  aria-label="Icon Facebook"
                  class="team-social-svg"
                  width="24"
                  height="24"
                >
                  <use href="/img/sprite.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li class="team-socials-item hidden-social">
              <a
                class="team-social-icon"
                href="https://www.instagram.com/goit.ua/"
                target="_blank"
                ><svg
                  aria-label="Icon Instagram"
                  class="team-social-svg"
                  width="24"
                  height="24"
                >
                  <use href="/img/sprite.svg#icon-instagram"></use></svg
              ></a>
            </li>
            <li class="team-socials-item">
              <a
                class="team-social-icon"
                href="https://www.linkedin.com/school/goit-start-your-career-in-it/posts/?feedView=all"
                target="_blank"
                ><svg
                  aria-label="Icon Linkedin"
                  class="team-social-svg"
                  width="24"
                  height="24"
                >
                  <use href="/img/sprite.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team_section_list_item">
        <picture class="team-photo-img"
          ><source
            srcset="
              /img/team/girl-holding-a-kettlebell-desk.jpg    1x,
              /img/team/girl-holding-a-kettlebell-desk@2x.jpg 2x
            "
            media="(min-width: 1336px)" />
          <source
            srcset="
              /img/team/girl-holding-a-kettlebell-tab.jpg    1x,
              /img/team/girl-holding-a-kettlebell-tab@2x.jpg 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              /img/team/girl-holding-a-kettlebell-mobile.jpg    1x,
              /img/team/girl-holding-a-kettlebell-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)" />
          <img
            src="../img/team/girl-holding-a-kettlebell-mobile.jpg"
            alt="team member photo"
        /></picture>
        <div class="team-photo-info-cont">
          <h3 class="team-name-title">Ava Green</h3>
          <p class="team-position-title">Fitness Trainer</p>
          <p class="team-info-title">
            Ava integrates strength training with yoga to promote overall
            fitness.
          </p>
          <ul class="team-socials-list">
            <li class="team-socials-item">
              <a
                class="team-social-icon"
                href="https://www.facebook.com/goITclub/?locale=uk_UA"
                target="_blank"
                ><svg
                  aria-label="Icon Facebook"
                  class="team-social-svg"
                  width="24"
                  height="24"
                >
                  <use href="/img/sprite.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li class="team-socials-item">
              <a
                class="team-social-icon"
                href="https://www.instagram.com/goit.ua/"
                target="_blank"
                ><svg
                  aria-label="Icon Instagram"
                  class="team-social-svg"
                  width="24"
                  height="24"
                >
                  <use href="/img/sprite.svg#icon-instagram"></use></svg
              ></a>
            </li>
            <li class="team-socials-item">
              <a
                class="team-social-icon"
                href="https://www.linkedin.com/school/goit-start-your-career-in-it/posts/?feedView=all"
                target="_blank"
                ><svg
                  aria-label="Icon Linkedin"
                  class="team-social-svg"
                  width="24"
                  height="24"
                >
                  <use href="/img/sprite.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team_section_list_item">
        <picture class="team-photo-img"
          ><source
            srcset="
              /img/team/boy-with-short-dark-hair-desk.jpg    1x,
              /img/team/boy-with-short-dark-hair-desk@2x.jpg 2x
            "
            media="(min-width: 1336px)" />
          <source
            srcset="
              /img/team/boy-with-short-dark-hair-tab.jpg    1x,
              /img/team/boy-with-short-dark-hair-tab@2x.jpg 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              /img/team/boy-with-short-dark-hair-mobile.jpg    1x,
              /img/team/boy-with-short-dark-hair-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)" />
          <img
            src="/img/team/boy-with-short-dark-hair-mobile.jpg"
            alt="team member photo"
        /></picture>
        <div class="team-photo-info-cont">
          <h3 class="team-name-title">Clark Thomas</h3>
          <p class="team-position-title">Fitness Trainer</p>
          <p class="team-info-title">
            Clark specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
          <ul class="team-socials-list">
            <li class="team-socials-item">
              <a
                class="team-social-icon"
                href="https://www.facebook.com/goITclub/?locale=uk_UA"
                target="_blank"
                ><svg
                  aria-label="Icon Facebook"
                  class="team-social-svg"
                  width="24"
                  height="24"
                >
                  <use href="/img/sprite.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li class="team-socials-item">
              <a
                class="team-social-icon"
                href="https://www.instagram.com/goit.ua/"
                target="_blank"
                ><svg
                  aria-label="Icon Instagram"
                  class="team-social-svg"
                  width="24"
                  height="24"
                >
                  <use href="/img/sprite.svg#icon-instagram"></use></svg
              ></a>
            </li>
            <li class="team-socials-item hidden-social">
              <a
                class="team-social-icon"
                href="https://www.linkedin.com/school/goit-start-your-career-in-it/posts/?feedView=all"
                target="_blank"
                ><svg
                  aria-label="Icon Linkedin"
                  class="team-social-svg"
                  width="24"
                  height="24"
                >
                  <use href="/img/sprite.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
