<!-- Yoga Classes -->
<section class="yoga-classes">
  <div class="container yoga-classes-container">
    <h2 class="programs-subtitle" id="classes">
      <span class="programs-explore-text">Explore</span>Discover Our Most
      Popular Yoga Programs
    </h2>
    <p class="programs-above-text">
      Join our community and elevate your practice with our expertly designed
      yoga programs. Each course is tailored to meet various skill levels and
      personal goals.
    </p>
    <ul class="programs-list">
      <li class="programs-litem">
        <div class="programs-picture-thumb image-animation">
          <picture class="programs-picture">
            <source
              media="(min-width: 1336px)"
              srcset="
                /img/yoga-classes/beginner-pc.jpg    1x,
                /img/yoga-classes/beginner-pc@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/yoga-classes/beginner-tablet.jpg    1x,
                /img/yoga-classes/beginner-tablet@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/yoga-classes/beginner-mobile.jpg    1x,
                /img/yoga-classes/beginner-mobile@2x.jpg 2x
              "
            />
            <img
              srcset="
                /img/yoga-classes/beginner-mobile.jpg    1x,
                /img/yoga-classes/beginner-mobile@2x.jpg 2x
              "
              src="/img/yoga-classes/beginner-mobile.jpg"
              alt="Group of people practice yoga"
            />
          </picture>
        </div>

        <h3 class="programs-third-title programs-third-title-foundations">
          Beginner Yoga: Foundations
        </h3>
        <p class="programs-text-underneath">
          Learn the basics of yoga in a supportive environment.
        </p>
      </li>
      <li class="programs-litem">
        <div class="programs-picture-thumb image-animation">
          <picture class="programs-picture">
            <source
              media="(min-width: 1336px)"
              srcset="
                /img/yoga-classes/vinyasa-pc.jpg    1x,
                /img/yoga-classes/vinyasa-pc@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/yoga-classes/vinyasa-tablet.jpg    1x,
                /img/yoga-classes/vinyasa-tablet@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/yoga-classes/vinyasa-mobile.jpg    1x,
                /img/yoga-classes/vinyasa-mobile@2x.jpg 2x
              "
            />
            <img
              srcset="
                /img/yoga-classes/vinyasa-mobile.jpg    1x,
                /img/yoga-classes/vinyasa-mobile@2x.jpg 2x
              "
              src="/img/yoga-classes/vinyasa-mobile.jpg"
              alt="Woman practice yoga"
            />
          </picture>
        </div>
        <h3 class="programs-third-title">
          Vinyasa Flow: Energize Your Body and Mind
        </h3>
        <p class="programs-text-underneath">
          Experience a dynamic sequence that connects breath and movement.
        </p>
      </li>
      <li class="programs-litem restorative-litem">
        <div class="programs-picture-thumb restorative-thumb image-animation">
          <picture class="programs-picture restorative-picture">
            <source
              media="(min-width: 1336px)"
              srcset="
                /img/yoga-classes/restorative-pc.jpg    1x,
                /img/yoga-classes/restorative-pc@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/yoga-classes/restorative-tablet.jpg    1x,
                /img/yoga-classes/restorative-tablet@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/yoga-classes/restorative-mobile.jpg    1x,
                /img/yoga-classes/restorative-mobile@2x.jpg 2x
              "
            />
            <img
              srcset="
                /img/yoga-classes/restorative-mobile.jpg    1x,
                /img/yoga-classes/restorative-mobile@2x.jpg 2x
              "
              src="/img/yoga-classes/restorative-mobile.jpg"
              alt="Close view on man's hand practicing yoga"
            />
          </picture>
        </div>
        <h3 class="programs-third-title">
          Restorative Yoga: Deep Relaxation and Healing
        </h3>
        <p class="programs-text-underneath">
          Unwind and rejuvenate with gentle poses and mindfulness.
        </p>
      </li>
    </ul>
    <a
      href="#pricing"
      class="programs-link-btn blue-button-animation"
      aria-label="Join now"
    ></a>
  </div>
</section>
