@keyframes slide {
  from {
    transform: translateX(-140%) translateY(-50%);
  }
  to {
    transform: translateX(-104%) translateY(-50%);
  }
}
@keyframes stretch {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(100%) scale(0.2);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(100%) scale(1);
  }
}

/* Buttons animation */
.blue-button-animation {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.silver-button-animation {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); /* ,
  border 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.blue-button-animation:hover,
.blue-button-animmation:focus {
  background-color: #e1edff;
  border: 1px solid #e1edff;
}

.silver-button-animation:hover,
.silver-button-animation:focus {
  background-color: var(--color-neutral-lightest);
}

/* Header animation */
.header-links-animation {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-links-animation:hover,
.header-links-animation:focus {
  color: var(--color-neutral);
}

/* Programs animation */

.image-animation {
  transition: transform 300ms ease, box-shadow 300ms ease;
}

.programs-litem:hover .image-animation,
.programs-litem:focus .image-animation {
  transform: scale(1.021);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

/* Gallery hover */
.image-gallery-animation {
  transition: transform 300ms ease, box-shadow 300ms ease;
}
.image-gallery-animation:hover,
.image-gallery-animation:focus {
  transform: scale(1.021);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

/* Team section personal */

/* .team_section_list_item {
  transition: transform 300ms ease, box-shadow 300ms ease;
}

.team_section_list_item:hover,
.team_section_list_item:focus {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
} */

/* Testimonials */
/* .testimonials-photo {
  transition: transform 300ms ease, box-shadow 300ms ease;
}

.testimonials-photo:hover,
.testimonials-photo:focus {
  transform: scale(1.08);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
} */

/* Pricing */
.pricing-item {
  transition: transform 300ms ease, box-shadow 300ms ease;
}

.pricing-item:hover,
.pricing-item:focus {
  transform: scale(1.012);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
