.footer {
  background: var(--color-scheme-1-background);
  padding: 48px 0;
  min-width: 320px;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 40px 32px;
  }
}

@media only screen and (min-width: 1336px) {
  .footer {
    padding: 64px;
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: var(--color-scheme-1-foreground);

  border: 0px solid var(--color-scheme-1-border);
  border-radius: 16px;
  padding: 32px;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    padding: 40px 32px;
  }
}

@media only screen and (min-width: 1336px) {
  .footer-container {
    padding: 48px;
  }
}

/* Footer */

address {
  font-style: normal;
}
.footer-logo-svg {
  margin-bottom: 20px;
}

.footer-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-scheme-1-text);
  margin-bottom: 20px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  gap: 16px;
}

.footer-input {
  border: 1px solid var(--opacity-transparent);
  border-radius: 12px;
  padding: 8px 12px;
  background-color: var(--opacity-neutral-darkest-5);
  width: 100%;
  max-width: 279px;
  height: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.footer-input:hover,
.footer-input:focus {
  border: 1px solid var(--color-neutral);
}

.footer-btn {
  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;
  padding: 10px 24px;
  width: 100%;
  max-width: 279px;
  height: 46px;
  background: var(--opacity-neutral-darkest-5);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: rgba(13, 11, 10, 0.03);
}

.footer-description-small {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  color: var(--color-scheme-1-text);
}

.footer-copyright {
  margin-top: 48px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: var(--color-scheme-1-text);
}

.footer-right {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-links-p {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-scheme-1-text);
  margin-bottom: 16px;
  margin-top: 48px;
}

.footer-links-menu-item {
  padding: 8px 0;
}

.footer-links-menu-item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: var(--color-scheme-1-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links-menu-item-link:hover,
.footer-links-menu-item-link:focus {
  color: var(--color-neutral);
}

.footer-contact-p {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-scheme-1-text);
  margin-bottom: 16px;
}

.footer-contact-menu-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-contact-menu-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 8px 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: var(--color-scheme-1-text);
  transition: color, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-menu-item-link:hover,
.footer-contact-menu-item-link:focus {
  color: var(--color-neutral);
  fill: var(--color-neutral);
}

@media only screen and (min-width: 768px) {
  .footer-logo-svg {
    margin-bottom: 24px;
  }

  .footer-description {
    margin-bottom: 24px;
  }

  .footer-form {
    flex-direction: row;
    margin-bottom: 12px;
  }

  .footer-input {
    width: 546px;
    gap: 8px;
  }

  .footer-btn {
    width: 78px;
  }

  .footer-right {
    flex-direction: row;
    margin-top: 40px;
    justify-content: flex-start;
  }

  .footer-links-p {
    margin: 0;
    margin-bottom: 16px;
  }

  .footer-links {
    width: 300px;
  }
}

@media only screen and (min-width: 1336px) {
  .without-copyright {
    display: flex;
    justify-content: space-between;
  }

  .footer-links {
    width: 165px;
  }

  .footer-logo-svg {
    margin-bottom: 24px;
  }

  .footer-description {
    margin-bottom: 24px;
  }

  .footer-input {
    width: 501px;
  }

  .footer-btn {
    width: 78px;
  }

  .footer-copyright {
    margin: 0;
  }

  .footer-right {
    margin: 0;
  }
}
