/* Hero-mobile */

.hero-thumb {
  padding: 0;
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
}
.hero-image {
  max-width: 375px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero-thumb {
    max-width: 768px;
  }
  .hero-image {
    max-width: 768px;
  }
}

@media screen and (min-width: 1336px) {
  .hero-thumb {
    max-width: 1440px;
  }
  .hero-image {
    max-width: 1440px;
  }
}

.container.hero-container {
  padding: 48px 16px;
  background: var(--color-scheme-3-background);
}
.hero-title-container {
  max-width: 343px;
  width: 100%;
  height: 159px;
  margin-bottom: 20px;
}
.hero-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 44px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: var(--color-scheme-3-text);
}

.hero-title-word {
  display: inline-block;
}

.hero-description-container {
  max-width: 343px;
  width: 100%;
  height: auto;
}

.hero-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-scheme-3-text);
  max-width: 343px;
  width: 100%;
  height: auto;
  margin-bottom: 24px;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 329px;
  width: 100%;
  height: 108px;
}

.hero-btn-join {
  border: 1px solid var(--color-hawkes-blue);
  border-radius: 100px;
  padding: 10px 24px;
  width: 100%;
  max-width: 329px;
  width: 100%;
  height: 46px;
  background: var(--color-hawkes-blue);
  text-align: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-neutral-darkest);
}
.hero-btn-extra {
  display: none;
}

.hero-btn-learn {
  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;
  padding: 10px 24px;
  max-width: 329px;
  width: 100%;
  height: 46px;
  background: var(--opacity-neutral-darkest-5);
  text-align: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-neutral-darkest);
}
/*-----------------*/

/* Hero-tablet */
@media screen and (min-width: 768px) {
  .container.hero-container {
    padding-top: 24px;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-left: 32px;
  }
  .hero-title-container {
    max-width: 425px;
    width: 100%;
    height: 106px;
    margin-bottom: 16px;
  }
  .hero-title-word {
    visibility: hidden;
    position: relative;
  }
  .hero-title-word::after {
    content: 'Classes';
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
  }

  .hero-description-container {
    max-width: 641px;
    width: 100%;
  }
  .hero-description {
    font-size: 18px;
    margin-bottom: 32px;
    max-width: 641px;
    width: 100%;
  }
  .hero-buttons {
    flex-direction: row;
    max-width: 305px;
    height: 46px;
  }

  .hero-btn-join {
    max-width: 144px;
  }
  .hero-btn-learn {
    max-width: 144px;
  }
  .hero-btn-extra {
    display: inline-block;
    text-align: right;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-neutral-darkest);
  }
}

/*-----------------*/

/* Hero-desktop */
@media screen and (min-width: 1336px) {
  .container.hero-container {
    padding-top: 80px;
    padding-right: 64px;
    padding-bottom: 80px;
    padding-left: 64px;
    display: flex;
    column-gap: 24px;
  }
  .hero-title-container {
    max-width: 644px;
    width: 100%;
    height: 258px;
  }
  .hero-title {
    font-size: 72px;
    width: 644px;
    height: 258px;
  }

  .hero-description-container {
    max-width: 641px;
    width: 100%;
  }

  .hero-buttons {
    display: flex;
    max-width: 257px;
    gap: 16px;
    white-space: nowrap;
  }

  .hero-btn-join {
    max-width: 113px;
  }
  .hero-btn-learn {
    max-width: 128px;
  }
}

/*-----------------*/
