/* Team */
.team_section {
    background-color: #f2fafa;
    padding: 64px 0;
    max-width: 375px;
    margin: 0 auto;
}

.team_section_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team_section_title {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: #0d0b0a;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.team_section_mini_title {
    font-family: "Sarabun", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #0d0b0a;
    margin-bottom: 12px;
}

.team_section_p {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: #0d0b0a;
    margin-bottom: 48px;
}

.team_section_list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
    width: 100%;
}

.team_section_list_item {
    text-align: center;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
}

.team-photo-img img {
    object-fit: cover;
    border-radius: 16px;
}

.team-photo-info-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.team-name-title {
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.6;
}

.team-position-title {
    margin-bottom: 12px;
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

.team-info-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.hidden-social {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.team-socials-list {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.team-social-svg:hover,
.team-social-svg:focus,
.team-social-svg:active {
    fill: #868584;
}

.team-social-svg {
    stroke: transparent;
    fill: #0D0B0A;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    
    .team_section {
        max-width: 768px;
        padding: 40px 0;
    }

    .team_section_mini_title {
        margin-bottom: 16px;
    }

    .team_section_title {
        font-size: 52px;
        margin-bottom: 24px;
    }

    .team_section_p {
        font-size: 18px;
        margin-bottom: 40px ;
    }

    .team_section_list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        align-items: stretch;
    }

    .team_section_list_item {
        width: calc((100% - 24px) / 2);
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .team-name-title {
        margin-top: 24px;
        font-size: 22px; 
    }

    .team-info-title {
        margin-bottom: 24px;
    }

    .team-position-title {
        margin-bottom: 16px;
        font-size: 18px;
        max-width: 400px;
    }

    .team-socials-list {
        margin-top: auto;  
    }
}

@media screen and (min-width: 768px) and (max-width: 1335px) {
    
    .team-photo-img img {
        width: 100%;
        height: 400px;
    } 
}

@media screen and (min-width: 1336px) {

    .team_section {
        max-width: 1440px;
        padding: 112px 0;
    }

    .team_section_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 64px 24px;
    }

    .team_section_list_item {
        width: calc((100% - 48px) / 3);
        display: flex;
        flex-direction: column;
    } 
    
    .team-photo-img img {
        width: 421px;
        height: 410px;  
    }
}
